th,
td {
  border: 2px solid black;
}

table {
  background-color: rgb(122, 107, 138);
  border-collapse: collapse;
  /* top: 40%;
  left: 40%; */
  display: flex;
  justify-content: center;
}

td {
  padding: 15px;
  text-align: center;
  color: antiquewhite;
}

.table-style {
  background-color: rgb(122, 107, 138);
  height: 100vh;
  width: 100%;
}

th {
  font-family: fantasy;
  font-weight: bolder;
}
